body{
    margin: 0 auto;
}
#container{
    display: grid;
    grid-template-columns: repeat(100px, 12fr);
    grid-auto-rows: minmax(100px, auto);
    font-family: 'Lato', sans-serif;
}
#header img{
    grid-column: 1 / -1;
    max-width: 100%;
}

#body{
    grid-column: 1 / -1;
    background: #FFF;
    padding: 60px;
}
.itemcircles img{
    width: 350px;
    height: auto;
    max-width: 100%;
}

/* FORM */
#form{
    grid-column: 1 / -1;
    background: rgb(228, 226, 226);
    padding: 60px;
    text-align: center;
}
#form h1{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    word-spacing: 4px;
}
#form p{
    font-size: 1.5em;
    font-weight: 600;
    width: 50%;
    word-spacing: 1px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.name, .email{
    width: 30%;
    height: 60px;
    font-size: 2.2em;
    padding: 10px;
    margin: 10px;
    border: 0;
    color: rgb(179, 179, 179);
}
textarea{
    height: 180px;
    width: 60%;
    font-size: 3em;
    padding: 12px 25px;
    border: 0;
    color: rgb(179, 179, 179);
    
}
.submit{
    background: rgb(228, 226, 226);
    color: #333;
    font-size: 1.8em;
    font-family: 'Lato', sans-serif;
    padding: 5px 80px 5px 80px;
    margin-top: 30px;
    border: 2px solid #333;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}
.submit:focus{
    outline: 0;
}

/* FIND US */
#findus{
    grid-column: 1 / -1;
    background: #FFF;
    text-align: center;
    color: #333;
    width: 100%;
}
.map-responsive img{
    width: 100%;
}
.mapheader{
    position: absolute;
    width: 100%;
    height: 250px;
    padding-top: 80px;
    opacity: 0.9;
}
.mapheader h1{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    word-spacing: 4px;
}
.mapheader p{
    font-size: 1.5em;
    font-weight: 600;
    width: 50%;
    word-spacing: 1px;
    margin: 0 auto;
    margin-bottom: 50px;
}
/* .map-responsive{
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    margin-top: 15px;
} */
.mapheader{
    background: #f2f2f2;
}
/* SOMETHINGBIG */
#somthingbig{
    grid-column: 1 / -1;
    background: #8564a7;
    color: #f2f2f2;
    padding: 60px;
    text-align: center;
}
.content{
    margin: 0 auto;
}
.content h1{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    word-spacing: 4px;
}
.content p{
    font-size: 1.5em;
    width: 60%;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.infocircles{
    display: flex;
    flex-wrap: wrap;
    font-size: 3em;
    justify-content: space-evenly;
    font-weight: 300;
    color: #8564a7;
}
.infocircles p{
    display: block;
    background: #b7a7c6;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 10px;
    padding: 50px;
}
.infocircles span{
    font-size: 2.2em;
}
button{
    background: #8564a7;
    color: #f2f2f2;
    font-size: 1.8em;
    font-family: 'Lato', sans-serif;
    padding: 5px 60px 5px 60px;
    margin-top: 30px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}
button:focus{
    outline: 0;
}

/* FOOTER */
#footer{
    grid-column: 1 / -1;
    background: #f2f2f2;
    padding: 40px 30px 5px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.4em;
    font-weight: 300;
}
.left{
    margin-top: 70px;
    font-size: 1.8em;
    font-weight: 400;
}
.left span{
    font-weight: bolder;
}
#footer img{
    height: 100px;
    width: 300px;
    max-width: 100%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1444px) {
    .mapheader{
        position: absolute;
        width: 100%;
        height: 200px;
        padding-top: 80px;
        opacity: 0.9;
    }
    .mapheader h1{
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 5px;
        word-spacing: 4px;
    }
    .mapheader p{
        font-size: 1.3em;
        font-weight: 600;
        width: 70%;
        word-spacing: 1px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 1215px) {
    .mapheader{
        position: absolute;
        width: 100%;
        height: 150px;
        padding-top: 80px;
        opacity: 0.9;
    }
    .mapheader h1{
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 5px;
        word-spacing: 4px;
        margin: 0;
    }
    .mapheader p{
        font-size: 1.3em;
        font-weight: 600;
        width: 70%;
        word-spacing: 1px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1033px) {
    form .name, .email, textarea{
        display: flex;
        margin: 30px auto;
        width: 65%;
    }
    .mapheader{
        position: relative;
        width: 100%;
        height: 150px;
        padding-top: 30px;
        opacity: 0.9;
    }
    .mapheader h1{
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 4px;
        word-spacing: 3px;
        margin-bottom: 10px;
    }
    .mapheader p{
        font-size: 1.3em;
        font-weight: 600;
        width: 70%;
        word-spacing: 1px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 875px) {
    #somthingbig{
        padding: 30px 0;
    }
    .content p{
        width: 80%;
    }
}
@media screen and (max-width: 661px) {
    #form{
        padding-top: 0;
    }
    form .name, .email, textarea{
        display: flex;
        margin: 10px auto;
        width: 65%;
        font-size: 1.8em;
    }
    #form p{
        width: 90%;
        font-size: 1.2em;
    }
    #footer{
        justify-content: center;
        margin: 0 auto;
        padding-top: 0px;
    }
    .left{
        margin: 0 auto;
    }
}
@media screen and (max-width: 598px) {
    .mapheader{
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 399px) {
    .mapheader{
        height: 100px;
    }
    .right p{
        margin-left: 40px;
    }
    .content h1{
        font-size: 5vw;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .content p{
        font-size: 5vw;
        margin: 0 auto;
    }
    .infocircles{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5em;
        justify-content: space-evenly;
        font-weight: 300;
        color: #8564a7;
    }
    .infocircles p{
        display: block;
        background: #b7a7c6;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin: 10px;
        padding: 50px;
    }
    .button{
        padding: 5px 40px 5px 40px;
    }
}